html {
  box-sizing: border-box;
  background-color: lightsteelblue;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 100;
  line-height: 1.4;
}

h1 {
  font-family: "lincoln-electric-regular", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 7rem;
}

h2 {
  font-style: normal;
  text-transform: uppercase;
  border-bottom: 5px solid lavender;
}

.profile-pic {
  width: 100px;
  height: 100px;
  border-radius: 150%;
}

header {
  padding: 1.5em 0;
}

header nav {
  text-align: center;
}

header nav ul {
  display: inline-block;
  list-style-type: none;
  padding-left: 0;
}

header nav ul li {
  display: inline;
}

nav a {
  display: inline-block;
  padding: .5em .75em;
  border-radius: 8px;
}

nav a:link, nav a:visited {
  background-color: lightsteelblue;
  color: white; 
  border: 2px solid white;
  text-decoration: none;
}

nav a:hover, nav a:focus {
  background-color: white;
  color: lightsteelblue;
  border: 2px solid lightsteelblue;
}

a:link{
  color: hotpink;
  
  text-decoration: none;
}

/* Links have a bunch of states that we can also style when a user interacts: */
/* unvisited link - for styling the default link state */

/* visited link - for styling the link after it’s been visited by the user*/


/* mouse over link - for styling the link when the mouse is sitting over it */
a:hover {
  color: orange;
}

/* focu link - for styling the link when the keyboard has tab-focused it */
a:focus {
  color: blue;
}

/* selected link - for styling the link when the mouse button is pressed down on it */
a:active {
  color: purple;
}

/* NOTE: a:link is for not visited, a:visited is for visited, and just a applies to both. */



/* Additional examples: */

a.one:link {
  color: red;
}

a.one:visited {
  color: blue;
}

a.one:hover {
  color: red;
}

a.two:link {
  color: orange;
}

a.two:visited {
  color: orange;
}

a.two:hover {
font-size: 2rem;
}

a.three:link {
color: green
}

a.four:link {
color: blue
}

a.four:hover {
font-family: monospace;
}

a.five {
color: purple
}

/* Link button: */
a.button:link, 
a.button:visited{
  border: 2px solid green;
  color: black;
  background-color: white;
  padding: 10px 20px;
}

a.button:hover, 
a.button:active,
a.button:focus {
  background-color:green;
  color:white;
}











